.title{
    background-color: #1F1F1F;
}

body{
    background-color:#FFFFF6 !important;
}


  div.pro-page-cols{
      color: #202020 !important;
  }

  div.pro-page-info{
      padding-left: 20%;
      padding-right: 20%;
      margin-left: 60px;
  }

 .pro-page-info-h{
     font-size: 1rem;
 }

 .pro-page-info-i{
     font-size: 0.8rem;
 }

 .heading
{
    font-family: 'Fjalla One', sans-serif;
}